@{
    ViewBag.Title = "ConsistencyValve";
}

<div class="col-xs-10 col-md-10">
        @(Html.Kendo().Grid<DailyReportOracleDB.Dal.DR_BULKBM>()
            .Name("BulkBMGrid")
            .HtmlAttributes(new { style = "height : 880px; border-width:1px;border-style:solid; border-color:darkgray;"})
            .Columns(column =>
            {
                column.Bound(p => p.SPECNAME).Title("JOB_NO");
                column.Bound(p => p.DWGNO);
                column.Bound(p => p.SPECNAME).Title("CLASS_CD");
                column.Bound(p => p.COMMENTS).Title("SYMBOL_CD");
            }
            )
            .Pageable()
            .Sortable()
            .Scrollable()
            .DataSource(dataSource => dataSource
                .Ajax()
                .Read("BulkBM_Read","Grid")
                .PageSize(25)
            )
        )
</div>