@{
    ViewBag.Title = "ConsistencyValve";
}
<style>

    .SPItem
    {
        vertical-align:top;
        position: relative;
		display: inline;
    }
    .post-content {
        background: none repeat scroll 0 0;
        top:0;
        left:0;
        position: absolute;
        width : 48px;
        max-width: 48px;
        padding: 0px 0px 0px 0px;
        margin:0;
        vertical-align:top;
    }

	.post-item {
        vertical-align: middle;
        width : 36px;
        font-size : 12px;
        text-align:center;
        display :inline;
        position:absolute;
        top:0;
        left:6px;
        white-space:pre-line;
        word-break:break-all;
        padding:0px;
	}
    .k-grid tr td {
        border-bottom: 1px solid #DBDBDB;
    }
</style>
<div class="col-xs-10 col-md-10">
        @(Html.Kendo().Grid<DailyReport.Models.ConsistencyItem>()
    .Name("grid")
    .Columns(columns =>
    {
        columns.Bound(p => p.PIPE_LINE).Width(300).Title("PIPELINE");
        columns.Bound(p => p.NPD).Width(50).Title("NPD");
        columns.Bound(p => p.ITEMS).ClientTemplate("#= itemImage(ITEMS) #");

    })
    .Pageable()
    .Sortable()
    .Scrollable()
    .HtmlAttributes(new { style = "height : 880px; border-width:1px;border-style:solid; border-color:darkgray;"})
    .DataSource(dataSource => dataSource
    .Ajax()
    .Read("Consistency_Read","Grid")
    .PageSize(25)
    )
)
</div>

<script>
    function itemImage(item) {
        var listValue = item.split(',');
        var html = "";
        var map = new Map();
        for (var i in listValue) {
            if (i == 0) continue;
            if (listValue[i].substr(0, 11) == "Instrument_") {
                html +=
                    "<div class='SPItem'>" +
	                "<img src='/Images/Items/Instrument.png'>" +
                    "<div class='post-content'>" +
                    "<p class='post-item'>" + listValue[i].substr(11) + "</p>" +
                    "</div>" +
                    "</div>"
                //"<img src='/Images/Items/SP.png')/>"
            } else if (listValue[i].substr(0, 10) == "Specialty_") {
                html +=
                    "<div class='SPItem'>" +
	                "<img src='/Images/Items/Specialty.png'>" +
                    "<div class='post-content'>" +
                    "<p class='post-item'>" + listValue[i].substr(10) + "</p>" +
                    "</div>" +
                    "</div>"
            }
            else {
                var itemCount = listValue[i].substr(listValue[i].length - 2);
                if (itemCount.substr(0, 1) == "0") {
                    itemCount = itemCount.substr(1);
                }
                html += "<img src='/Images/Items/" + listValue[i].substr(0, listValue[i].length - 2) + ".png')/>" + "x" + itemCount;
            }
           
        }
        return html
    }
</script>
