@{
    ViewBag.Title = "ConsistencyValve";
}

<div class="col-xs-10 col-md-10">
    <h3>Instrument Progress</h3>
        @(Html.Kendo().Grid<DailyReport.Models.ConsistencyItem>()
    .Name("grid")
    .Columns(columns =>
    {
        columns.Bound(p => p.PIPE_LINE);
        columns.Bound(p => p.ITEMS).ClientTemplate(
            "<img src= '" + Url.Content("~/Images/Items/Ball.png") '/>" );
    })
    .Pageable()
    .Sortable()
    .Scrollable()
    .HtmlAttributes(new { style = "height : 880px; border-width:1px;border-style:solid; border-color:darkgray;"})
    .DataSource(dataSource => dataSource
    .Ajax()
    .Read("Consistency_Read","Grid")
    .PageSize(25)
    )
)
</div>
