@{
    ViewBag.Title = "ConsistencyValve";
}
<style>
    .SPItem
    {
        background-image:url("/Images/Items/SP.png");
        background-position:center;
        background-repeat:no-repeat;
        height:200px;
        text-align : center;
    }
</style>
<div class="col-xs-10 col-md-10">
        @(Html.Kendo().Grid<DailyReport.Models.ConsistencyItem>()
    .Name("grid")
    .Columns(columns =>
    {
        columns.Bound(p => p.PIPE_LINE);
        columns.Bound(p => p.ITEMS).ClientTemplate("#= itemImage(ITEMS) #");

    })
    .Pageable()
    .Sortable()
    .Scrollable()
    .HtmlAttributes(new { style = "height : 880px; border-width:1px;border-style:solid; border-color:darkgray;"})
    .DataSource(dataSource => dataSource
    .Ajax()
    .Read("Consistency_Read","Grid")
    .PageSize(25)
    )
)
</div>

<script>
    function itemImage(item) {
        var listValue = item.split(',');
        var html = "";
        for (var i in listValue) {
            
            if (i == 0) continue;
            if (listValue[i].substr(0,2) == "SP") {
                html += "<div class='SPItem'>" + listValue[i] + "</div>"
                //"<img src='/Images/Items/SP.png')/>"
            }
            else {
                html += "<img src='/Images/Items/" + listValue[i] + ".png')/>"
            }
           
        }
        return html
        //"<img src='" + Url.Content("~/Images/Items/Ball.png") + "'/>" + "item");
    }

</script>
