@{
    ViewBag.Title = "ModelProgressLine";
}
<div class="col-xs-10 col-md-10">
        @(Html.Kendo().Grid<DailyReport.Models.DR_MODELPROGRESS_LINE>()
.Name("grid")
.Columns(columns =>
{
    columns.Bound(p => p.OID);
    columns.Bound(p => p.LINE_NO);
    columns.Bound(p => p.CREATED_BY);
    columns.Bound(p => p.CREATED_DATE).Format("{0:MM/dd/yyyy}");
    columns.Bound(p => p.MODIFIED_BY);
    columns.Bound(p => p.MODIFIED_DATE).Format("{0:MM/dd/yyyy}");
    
})
.Pageable()
.Sortable()
.Scrollable()
.HtmlAttributes(new { style = "height : 880px; border-width:1px;border-style:solid; border-color:darkgray;"})
.DataSource(dataSource => dataSource
.Ajax()
.PageSize(25)
)
)
        )

<h2>ModelProgressLine</h2>
