@{
    ViewBag.Title = "ModelProgressLine";
}

<div class="col-xs-10 col-md-10">
    <h3>PipeLine Progress</h3>
        @(Html.Kendo().Grid<DailyReportOracleDB.Dal.DR_MODELPROGRESS_LINE>()
    .Name("grid")
    .Columns(columns =>
    {
        columns.Bound(p => p.OID);
        columns.Bound(p => p.PIPELINE);
        columns.Bound(p => p.CREATEDBY);
        columns.Bound(p => p.DATECREATED).Format("{0:MM/dd/yyyy}");
        columns.Bound(p => p.LASTMODIFIEDBY);
        columns.Bound(p => p.DATELASTMODIFIED).Format("{0:MM/dd/yyyy}");
    
    })
    .Pageable()
    .Sortable()
    .Scrollable()
    .HtmlAttributes(new { style = "height : 880px; border-width:1px;border-style:solid; border-color:darkgray;"})
    .DataSource(dataSource => dataSource
    .Ajax().Read("ModelProgressLine_Read","Grid")
    .PageSize(25)
    )
)
</div>
