@{
    ViewBag.Title = "ProgressPipingLineList";
}

<div class="col-xs-10 col-md-10">
    <h3>PipeLineList Progress</h3>
    <div class="radio-section k-header">
    @*<ul>
        <li>
            @(Html.Kendo().RadioButton().Name("engine1").Checked(true).HtmlAttributes(new{@name = "selecttype"}).Label("전체"))
        </li>
        <li>
            @(Html.Kendo().RadioButton().Name("engine2").HtmlAttributes(new{@name = "selecttype"}).Label("협력사별"))
        </li>
    </ul>*@
  
</div>
       @(Html.Kendo().Chart<DailyReport.Models.ModelLineNumData>()
       //.ChartArea(chartArea => chartArea.Background("transparent")) 
       .Name("aLineListChart")
        .Title("Pipe Line List 작업량")
        .Legend(legend => legend.Visible(true).Position(ChartLegendPosition.Bottom))
        .DataSource(ds => ds.Read(read => read.Action("ProgressPipingLineList_Chart", "Chart"))
        
            //.Filter(filter =>
            //{
            //    filter.Add(item => item.Total);
            //}
            //)
        )
            .CategoryAxis(axis => axis
                    .MajorGridLines(lines => lines.Visible(false))
                    .Categories(model=>model)
                                    //.Categories("전체").Name("전체")
                //.Categories(categories => categories.Mtotal).Title("모델")
                        //.Categories(categories => categories.Total).Title("전체")
                )
        
                .Series(series =>
                {
                    series.Bar(model => model.Mpercentage).Name("모델").Labels(true);
                    series.Bar(model => model.Tpercentage).Name("전체").Labels(true).Tooltip(tooltip => tooltip.Template("#=series.name #: #= dataItem.Total # /  #= dataItem.Total #"));
                    
                })
        
        .ValueAxis(axis => axis
            .Numeric()
            .Max(100)
            .Labels(labels => labels.Visible(true))
            .MajorUnit(10)

        )
        .Tooltip(tooltip => tooltip

            .Visible(true)
            .Template("#=series.name #: #= dataItem.Mtotal# / #= dataItem.Total #")

           .Format("")
        )
        .ChartArea(chart =>
        {
            chart.Height(400);
            chart.Width(700);
            chart.Margin(30);
        })
        
)
    @(Html.Kendo().Chart<DailyReport.Models.ModelLineNumData>()
    .Name("cLineListChart")
        .Title("Pipe Line List 작업량(협력사별)")
        .Legend(legend => legend.Visible(true).Position(ChartLegendPosition.Bottom))
        .DataSource(ds => ds.Read(read => read.Action("ProgressPipingLineList_Chart", "Chart"))
            //.Filter(filter => {filter.Add(item => item.Total);
            //    })
        )
                .Series(series =>
                {
                    series.Bar(model => model.Kpercentage).Name("경신").Labels(true).Tooltip(tooltip => tooltip.Template("#=series.name #: #= dataItem.Koperator # /  #= dataItem.Total #"));
                    series.Bar(model => model.Wpercentage).Name("우림").Labels(true).Tooltip(tooltip => tooltip.Template("#=series.name #: #= dataItem.Woperator # /  #= dataItem.Total #"));
                    series.Bar(model => model.Spercentage).Name("스페이스").Labels(true).Tooltip(tooltip => tooltip.Template("#=series.name #: #= dataItem.Soperator # /  #= dataItem.Total #"));
                })
        
        .CategoryAxis(axis => axis
            .Categories(model => model)
            .MajorGridLines(lines => lines.Visible(false))
        )
        .ValueAxis(axis => axis
            .Numeric()
            .Max(100)
            .Labels(labels => labels.Visible(true))
            .MajorUnit(10)
        )
        .Tooltip(tooltip => tooltip
            .Visible(true)
            //.Template("#=series.name #: #= dataItem.Mtotal# / #= dataItem.Total #")
        )
        .ChartArea(chart => { 
            chart.Height(420); 
            chart.Width(700);
            chart.Margin(30);}) 
)
</div>
    

