@{
    ViewBag.Title = "ConsistencyValve";
}
<style>
    .k-grid-header-wrap th {
        font-size: x-small !important;
    }
    .k-grid tr td {
    border-bottom: 1px solid #DBDBDB;
    }

</style>

<div class="col-xs-10 col-md-10">
        @(Html.Kendo().Grid<DailyReport.Models.SpecialtyBM>()
            .Name("SpecailtyBMGrid")
            .HtmlAttributes(new { style = "height : 880px; border-width:1px;border-style:solid; border-color:darkgray;"})
            .Columns(column =>
            {
                column.Bound(p => p.OID).Width(300);
                column.Bound(p => p.DWGNO).Width(150);
                column.Bound(p => p.TAG).Width(150);
                column.Bound(p => p.SPECNAME);
                column.Bound(p => p.NPD1);
                column.Bound(p => p.NPDUNITTYPE1);
                column.Bound(p => p.NPD2);
                column.Bound(p => p.NPDUNITTYPE2);
                column.Bound(p => p.NPD3);
                column.Bound(p => p.NPDUNITTYPE3);
            }
            )
            .ColumnMenu().Resizable(resizable=>resizable.Columns(true))
            .Pageable()
            .Sortable()
            .Scrollable()
            .DataSource(dataSource => dataSource
                .Ajax()
                .Read("SpeceltyBm_Read","Grid")
                .PageSize(25)
            )
            
        )
</div>