@{
    ViewBag.Title = "SupportBoM";
}
<style>
    .k-grid-header-wrap th {
        font-size: x-small !important;
    }
    .k-grid tr td {
    border-bottom: 1px solid #DBDBDB;
    }

</style>

<div class="col-xs-10 col-md-10">
        @(Html.Kendo().Grid<DailyReport.Models.SupportBM>()
            .Name("SupportBoMGrid")
            .HtmlAttributes(new { style = "height : 880px; border-width:1px;border-style:solid; border-color:darkgray;"})
            .Columns(column =>
            {
                column.Bound(p => p.OID).Width(300);
                column.Bound(p => p.DWGNO).Width(150).Filterable(ftb=>ftb.Cell(cell => cell.Operator("contains")));
                column.Bound(p => p.HANGERNAME).Width(150).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")));
                column.Bound(p => p.DESCRIPTION);
            }
            )
            .ColumnMenu().Resizable(resizable=>resizable.Columns(true))
            .Filterable(filterable=>filterable.Extra(false))
            .Pageable()
            .Sortable()
            .Scrollable()
            .DataSource(dataSource => dataSource
                .Ajax()
                .Read("SupportBm_Read","Grid")
                .PageSize(25)
            )
            
        )
</div>