@{
    ViewBag.Title = "ProgressPipingLineList";
}

<div class="col-xs-10 col-md-10">
    <h3>PipeLineList Progress</h3>
       @(Html.Kendo().Chart<DailyReport.Models.ModelLineNumData>()
       //.ChartArea(chartArea => chartArea.Background("transparent")) 
       .Name("aLineListChart")
        .Title("Pipe Line List 작업량")
        .Legend(legend => legend.Visible(false).Position(ChartLegendPosition.Bottom))
        .DataSource(ds => ds.Read(read => read.Action("ProgressPipingLineList_Chart", "Chart"))
        )
            .CategoryAxis(axis => axis
                    .MajorGridLines(lines => lines.Visible(false))
                    .Categories(model=>model.Col)
                )
        
                .Series(series =>
                {
                    series.Bar(model => model.Percentage).Tooltip(tooltip => tooltip.Template("#=dataItem.Col #: #= dataItem.Mtotal # /  #= dataItem.Total #"));
                })
                .SeriesColors(new string[] {"#FF0000","1E90FF"})
        
        .ValueAxis(axis => axis
            .Numeric()
            .Max(100)
            .Labels(labels => labels.Visible(true))
            .MajorUnit(10)

        )
        .Tooltip(tooltip => tooltip

            .Visible(true)
           .Format("")
        )
        .ChartArea(chart =>
        {
            chart.Height(400);
            chart.Width(900);
            chart.Margin(30);
        })
        
)
    @(Html.Kendo().Chart<DailyReport.Models.ModelLineNumData>()
    .Name("cLineListChart")
        .Title("Pipe Line List 작업량(협력사별)")
        .Legend(legend => legend.Visible(false).Position(ChartLegendPosition.Bottom))
        .DataSource(ds => ds.Read(read => read.Action("coProgressPipingLineList_Chart", "Chart"))
            //.Filter(filter => {filter.Add(item => item.Total);
            //    })
        )
                .Series(series =>
                {
                    series.Bar(model => model.Percentage).Color("#008000").Labels(true).Tooltip(tooltip => tooltip.Template("#=dataItem.Col #: #= dataItem.Quantity # /  #= dataItem.Total #"));
                })
        
        .CategoryAxis(axis => axis
            .Categories(model => model.Col)
            .MajorGridLines(lines => lines.Visible(false))
        )
        .ValueAxis(axis => axis
            .Numeric()
            .Max(100)
            .Labels(labels => labels.Visible(true))
            .MajorUnit(10)
        )
        .Tooltip(tooltip => tooltip
            .Visible(true)
            //.Template("#=series.name #: #= dataItem.Mtotal# / #= dataItem.Total #")
        )
        .ChartArea(chart => { 
            chart.Height(420);
            chart.Width(900);
            chart.Margin(30);}) 
)
</div>
    

